* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-container {
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding-left: 40px;

    ul {
        display: flex;
        align-items: center;
        gap: 30px;

        a {
            color: #000;
            text-decoration: none;
            font-weight: 600;
        }
    }
}

.nav-container .burger {
    font-size: 22px;
    background-color: #fff;
    color: black;
}

.nav-container .burger:hover {
    color: blue;
}

.right-nav {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 15px;

    button {
        padding: 5px 10px;
        background-color: blue;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    svg {
        font-size: 20px;
        cursor: pointer;
    }
}


.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 380px;
    height: 100%;
    background-color: #000;
    color: white;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 100;
    height: 100vh;
    overflow-y: scroll;
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar-content {
    padding: 20px;

    .close-btn {
        background: none;
        border: none;
        color: white;
        font-size: 20px;
        cursor: pointer;
        margin-bottom: 20px;
    }

    .close-btn:hover {
        color: blue;
    }

    img {
        margin: auto;
        width: 200px;
        padding-bottom: 30px;
    }
}

.sidebar .subscribe {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 340px;
    height: 450px;
    border: 8px solid #1a1a1a;
    border-radius: 10px;
}

.subscribe .subscribe-content {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;

    h2 {
        font-size: 25px;
        font-weight: 700;
    }

    p {
        color: #a7a7a7;
        font-weight: 500;
        font-size: 15px;
    }

    .itext {
        width: 250px;
        height: 40px;
        text-align: center;
        background-color: #1a1a1a;
        font-size: 15px;
    }

    button {
        width: 250px;
        height: 40px;
        background-color: #3c3fde;
        font-size: 12px;
        font-weight: 700;
    }

    button:hover {
        background-color: #1a1a1a;
    }

    .check {
        margin-right: 10px;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
}

.side-cards-wrapper .side-card{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.side-card .side-card-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
}