* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-container {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 40px;
    gap: 20px;

    img {
        cursor: pointer;
    }

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        cursor: pointer;

        li {
            display: flex;
            align-items: center;
            gap: 5px;
            color: #000;
            text-decoration: none;
            font-weight: 600;
        }
    }
}

.nav-container .arrow {
    color: blue;
}

.nav-container .burger {
    font-size: 22px;
    background-color: #fff;
    color: black;
}

.nav-container .burger:hover {
    color: blue;
}

.right-nav {
    padding-right: 50px;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    button {
        width: 100px;
        height: 35px;
        background-color: blue;
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        font-size: 12px;
        font-weight: 500;
    }

    button:hover {
        background-color: #000;
    }

    svg {
        font-size: 18px;
        cursor: pointer;
    }

    svg:hover {
        color: blue;
    }
}

// End Of Navbar

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 380px;
    height: 100%;
    background-color: #000;
    color: white;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 100;
    height: 100vh;
    overflow-y: scroll;
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar-content {
    padding: 20px;

    .close-btn {
        background: none;
        border: none;
        color: white;
        font-size: 20px;
        cursor: pointer;
        margin-bottom: 20px;
    }

    .close-btn:hover {
        color: blue;
    }

    img {
        margin: auto;
        width: 200px;
        padding-bottom: 30px;
    }
}

.sidebar .subscribe {
    display: flex;
    margin: auto;
    width: 340px;
    height: 450px;
    border: 8px solid #1a1a1a;
    border-radius: 10px;
}

.subscribe .subscribe-content {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;

    h2 {
        font-size: 25px;
        font-weight: 700;
    }

    p {
        color: #a7a7a7;
        font-weight: 500;
        font-size: 15px;
    }

    .itext {
        width: 250px;
        height: 40px;
        text-align: center;
        background-color: #1a1a1a;
        font-size: 15px;
    }

    button {
        width: 250px;
        height: 40px;
        background-color: #3c3fde;
        font-size: 12px;
        font-weight: 700;
    }

    button:hover {
        background-color: #1a1a1a;
    }

    .check {
        margin-right: 10px;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
}

.side-cards-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}

.side-cards-wrapper .h2 {
    padding-top: 40px;
    padding-left: 20px;
    font-weight: 700;
    font-size: 17px;

}

.side-cards-wrapper .side-card {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    padding-left: 20px;
    cursor: pointer;

    img {
        border-radius: 12px;
        width: 100px;
        height: 75px;
    }
}

.side-card .side-card-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;

    h2 {
        font-weight: 700;
        font-size: 15px;
        cursor: pointer;
    }

    h2:hover {
        color: #174087;
    }

    p {
        font-size: 12px;
        color: gray;
        font-weight: 500;
    }
}


.side-social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.side-social-icons button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid #1a1a1a;
    border-radius: 50px;
    background-color: #1a1a1a;
}

.side-social-icons button:hover {
    color: #3c3fde;
}

// End Of Sidebar

