* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
}

.wrapper {
    width: 100%;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    gap: 50px;
}


.wrapper-girl-container {
    width: 900px;
    height: 500px;
    background-image: url(../../assets/images/wrapper-girl-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    margin-bottom: 35px;
}

.wrapper-girl-content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    padding-top: 300px;
    padding-left: 25px;
    cursor: pointer;

}

.wrapper-girl-content button {
    width: 82px;
    height: 28px;
    color: #fff;
    background-color: #ab07ab;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 500;

}

.wrapper-girl-content h1 {
    border: 1px solid #000;
    width: 610px;
    height: 50px;
    color: #fff;
    background-color: #000;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.wrapper-girl-content .secondh1 {
    width: 515px;

}


.img {
    background-image: url(../../assets/images/right-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 550px;
}




.wrapper-cards{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 65px;
    padding-left: 50px;
}

.wrapper-cards .wcard {
    background-image: url(../../assets/images/wrapper-card-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 415px;
    height: 250px;
    border-radius: 10px;

    button {
        background-color: blue;
        color: #fff;
    }
}

.wrapper-cards .wcard2 {
    background-image: url(../../assets/images/wrapper-card-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 415px;
    height: 250px;
    border-radius: 10px;

    button {
        background-color: blue;
        color: #fff;
    }
}

.wrapper-cards .wcard-wrapper {
    width: 415px;
    height: 390px;
    border: 2px solid whitesmoke;
    border-radius: 10px;
}

.wrapper-cards .wcard-wrapper {
    width: 415px;
    height: 390px;
    border: 2px solid whitesmoke;
    border-radius: 10px;
}

.wcard2 .wcard-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 250px;
    padding-left: 20px;
    cursor: pointer;

    h2 {
        font-size: 18px;
        font-weight: 700;
    }

    h2:hover {
        color: #174087;
    }

    p {
        font-size: 12px;
        font-weight: 500;
    }
}

.wcard .wcard-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 250px;
    padding-left: 20px;
    cursor: pointer;

    h2 {
        font-size: 18px;
        font-weight: 700;
    }

    h2:hover {
        color: #174087;
    }

    p {
        font-size: 12px;
        font-weight: 500;
    }
}

.wcard button {
    position: relative;
    top: 226px;
    left: 30px;
    font-size: 15px;
    width: 100px;
    height: 21px;
    font-size: 12px;
    font-weight: 500;
    background-color: #2e32f1;
}

.wcard2 button {
    position: relative;
    top: 226px;
    left: 30px;
    font-size: 15px;
    width: 100px;
    height: 21px;
    font-size: 12px;
    background-color: #2e32f1;
}