.sponsored-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sponsorp{
    font-size: 13px;
    padding-top: 50px;
    text-align: center;
    color: gray;
    font-weight: 500;
    padding-bottom: 3px
}

.sponsor-img{
    width: 1050px;
    height: 150px;
    background-image: url(../../assets/images/sponsor-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
}